<h1>{{ guild.name }} on {{ guild.realm }}</h1>

<p>
# if guild.fetch_error
  <span style="color: red">Error fetching this guild: {{ guild.fetch_error }}</span>
# elif guild.last_fetch
  Last fetched from <a href="{{ guild.armory_url }}">armory</a> <span class="timeago" title="{{ guild.last_fetch.ctime() }}Z">{{ guild.last_fetch.ctime() }}</span>.
  Fetched {{ guild.fetch_count() }} of <a href="{{ guild.url() }}members/">{{ guild.character_count() }} characters</a>.
#   if guild.oldest_fetch()
    Oldest toon fetched <span class="timeago" title="{{ guild.oldest_fetch().ctime() }}Z">{{ guild.oldest_fetch().ctime() }}</span>.
#   endif

# else
  Never fetched from armory.
# endif
</p>

<p>
  <a href="{{ guild.url() }}">Achievements</a>
  | <a href="{{ guild.url() }}members/">Members</a>
  | <a href="{{ guild.url() }}feed/">Feed</a>
</p>
