# if not achievement_data

  <h2>No achievements.</h2>
  <p>Don't take this as a slur on your character. Maybe the armory has been playing up, it does that a <i>lot</i>, very annoying.</p>
  <p>Alternatively, you might just have not done very much. IT CAN HAPPEN. I BLAME BORIS.</p>
  
# else

{% if page and total_pages %}
<div class="pagination">{% if page > 1 %}<a href="?page={{ page - 1 }}">&laquo; previous page</a>{% endif %} page {{ page }} of {{ total_pages }} {% if page < total_pages %}<a href="?page={{ page + 1 }}">next page &raquo;</a>{% endif %}</div>
{% endif %}

#   set old_date = None
#   for record in achievement_data
#     if old_date != record.date
        <h2>{{ record.date.strftime("%A %d %B %Y") }}</h2>
#       set old_date = record.date
#     endif
#     include "_achievement.html"
#   endfor

{% if page and total_pages %}
<div class="pagination">{% if page > 1 %}<a href="?page={{ page - 1 }}">&laquo; previous page</a>{% endif %} page {{ page }} of {{ total_pages }} {% if page < total_pages %}<a href="?page={{ page + 1 }}">next page &raquo;</a>{% endif %}</div>
{% endif %}

# endif